<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Open+Sans:wght@400;500&family=Outfit:wght@300;400&family=Playball&family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>

    </style>
</head>
<body>
    <main>
        <div class="left">
            <div class="title">
                <h2><img src="../static/images/logo.png" alt=""></h2>
            </div>
            <div class="overview">
                <p>overview</p>
                <div class="options">
                    <div class="dashboard">
                        <a href=""><span class="material-symbols-outlined">
                            team_dashboard
                            </span>Dashboard</a>
                    </div>
                    <div class="text">
                        <a href="text"><span class="material-symbols-outlined">
                            text_fields
                        </span>Text to Text</a>
                    </div>
                    <div class="voice">
                        <a href="speech"><span class="material-symbols-outlined">
                            mic_double
                            </span>Voice to Text</a>
                    </div>
                    <div class="document">
                        <a href="pdf"><span class="material-symbols-outlined">
                            picture_as_pdf
                            </span>Document to Text</a>
                    </div>
                    <div class="image">
                        <a href="img"><span class="material-symbols-outlined">
                            photo_library
                            </span>Image to Text</a>
                    </div>
                    <div class="hand">
                        <a href="hand"><span class="material-symbols-outlined">
                            edit_note
                            </span>Handwritten to Text</a>
                    </div>
                    <div class="video">
                        <a href="video">
                            <p>
                                <span class="material-symbols-outlined">
                                    videocam
                                    </span>Video to text
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="settings-bar">
                <p>settings</p>
                <div class="settings">
                    <a href=""><span class="material-symbols-outlined">
                        settings
                        </span>settings</a>
                </div>
                <div class="logout">
                    <a href="/logout"><span class="material-symbols-outlined">
                        logout
                        </span>Logout</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="search">
                <input type="search" placeholder="Search">
                <span class="material-symbols-outlined">
                    search
                </span>
                <div class="profiles">
                    <p><span class="material-symbols-outlined">
                        person
                    </span>Profile</p>
                </div>
            </div>
            <div class="adbox">
                <p>TranslatoVerse</p>
                <p id="title">Translate, Learn, and Connect with TranslatoVerse</p>
                <span id="start">Start</span>
            </div>
            <div class="tryout">
                <div class="title">
                    <p>Try it out</p>
                </div>
                <div class="boxes">
                    <div class="box1"><a href="text">
                        <img src="../static/images/Rectangle 10.png" alt="">
                        <h4>Text Translation</h4>
                        <p>Text-to-text translation is the ability to convert written content from one language to another. In the realm of Translato Verse, it's a seamless process: input your text in one language, choose your desired language, and let the magic happen as Translato Verse swiftly translates your words while preserving their meaning and context.</p></a>
                    </div>
                    <div class="box2">
                        <img src="../static/images/Rectangle 10.png" alt="">
                        <h4>Speech Translation</h4>
                        <p>Introducing our Voice-to-Text feature! Simply speak, and Translato Verse transforms your words into written text, making communication seamless and effortless.</p>
                    </div>
                    <div class="box3">
                        <img src="../static/images/Rectangle 10.png" alt="">
                        <h4>Image Translation</h4>
                        <p>Unlock a world of possibilities with our image-to-text feature. Simply upload an image, and Translato Verse will magically extract the text using advanced Optical Character Recognition (OCR) technology. Whether it's handwritten notes, printed documents, or anything in between, our tool effortlessly converts images into editable and translatable text, adding a new dimension to your multilingual experience</p>
                    </div>
                    <div class="box4">
                        <img src="../static/images/Rectangle 10.png" alt="">
                        <h4>Handwritten Translation</h4>
                        <p>Experience the magic of turning handwritten notes into text effortlessly! Our handwritten-to-text feature lets you upload images of your handwritten content, and Translato Verse will skillfully transcribe and translate it. Say goodbye to deciphering scribbles – now, your handwritten words are just a click away from clear and accurate text translation.</p>
                    </div>
                    <div class="box5">
                        <img src="../static/images/Rectangle 10.png" alt="">
                        <h4>Document Translation</h4>
                        <p>Transforming documents into text has never been easier! With our document-to-text feature, simply select any document type, and Translato Verse will seamlessly extract the text and provide accurate translations. What's more, you can download the translated text in various formats like PDF, Word, or image, offering unparalleled flexibility for your linguistic needs.</p>
                    </div>
                    <div class="box6">
                        <img src="../static/images/Rectangle 10.png" alt="">
                        <h4>Video Translation</h4>
                        <p>Video-to-text translation involves using advanced algorithms to convert spoken content from videos into written text, enabling accessibility, searchability, and improved user experiences across multimedia platforms.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="history">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut inventore explicabo quae, totam iure deserunt quidem soluta id labore mollitia cumque distinctio esse dolorem excepturi voluptatibus neque ipsam reiciendis quo.</p>
            </div> -->
        </div>
    </main>
</body>
</html>