<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TranslatoVerse</title>
</head>
<body>
    <nav>
        <div class="logo">
            <span class="material-symbols-outlined" id="menu">
                menu
            </span>
            <span class="material-symbols-outlined" id="logo">
                language
            </span>
            <h1>TranslatoVerse</h1>
        </div>
        <div class="navOptions">
            <a href=""><span class="material-symbols-outlined">
                person
            </span><p>Profile</p></a>
        </div>
    </nav>
    <main>
        
    </main>
    <footer></footer>
</body>
</html>